@use "sass:math";

$angle: 45deg;
$b: 100%;
$a: math.tan($angle) * $b;

.box {
  height: 300px;
  width: 300px;
  border: 6px solid #fff;
}

.box-inner {
  width: $b;
  height: $a;
  background: #16E7CF;
  clip-path: polygon($b 0, $b $a, 0 $a);
}
