@use "sass:math";

$angle: 60deg;
$b: 70%;
$a: math.sin($angle) * $b;
$topX: (50% - $a/2);
$topY: (50% - $a / 2);
$bottomX: (50% + $a/2);
$bottomY: (50% + $a / 2);

.box3 {
  height: 300px;
  width: 300px;
  border: 6px solid #fff;
  position: relative;
}

.box3-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $b;
  height: $a;
  background: #16e7cf;
  background: repeating-linear-gradient(to right top, var(--g), var(--g) 5%, var(--t) 5%, var(--t) 10%) 0 0/50% 50%;
  clip-path: polygon($topX $bottomY, 50% $topY, $bottomX $bottomY);
  animation: box-2 1s linear infinite;
}

@keyframes box-2 {
  0% {
      background-position: 15% 0
  }

  to {
      background-position: -100% 0
  }
}
